// В этом файле вы можете определить переменные для цветов, 
// шрифтов и других стилей, которые будут 
// использоваться в вашем проекте.

$primary-color: #007bff;
$secondary-color: #6c757d;
$black-color: #333;
$font-family: 'system-ui';
$font-size-base: 14px;